# Node.js
.npm*
node_modules

# Env variables
*.env
!example*.env

# OS X
.DS_Store

# Editor files
.vscode

# idea
.idea
.editorconfig
*.iml
*.iws

# java build
*/target/*

### Maven ###
target/
*/pom.xml.tag
*/pom.xml.releaseBackup
*/pom.xml.versionsBackup
*/pom.xml.next
*/release.properties
*/dependency-reduced-pom.xml
*/buildNumber.properties
*/.mvn/timing.properties
*/.mvn/wrapper/maven-wrapper.jar
log/

# Eclipse
.classpath
.project
.settings/

# Python
env/
*.pyc